<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?>
<div class="ui-widget">
    <div class="ui-widget-header">
        <h1>ZFJoomla</h1>
    </div>
    <div class="ui-widget-content">
        <p>
            <img src="http://framework.zend.com/images/PoweredBy_ZF_4LightBG.png"
                 alt="powered by Zend Framework" />
        </p>
    </div>
</div>