<?php
defined ('_VALID_MOS') or
    die('Direct Access to this location is not allowed');
?>
<h1>An error occurred</h1>
<h3><?php echo $this->message; ?></h3>
<?php if ('development' == APPLICATION_ENV) { ?>
<h3>Exception information:</h3>
<p>
<b>Message:</b> <?php echo $this->exception->getMessage(); ?> </p>
<h3>Stack trace:</h3> <pre><?php echo $this->exception->getTraceAsString(); ?> </pre>
<h3>Request Parameters:</h3> <pre><?php var_dump($this->request->getParams()); ?> </pre>
<?php } 